:root{
    --title-color:#101828;
    --text-color: #667085;
    --main-color: #8E2424;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Outfit', sans-serif;
}

li{
    list-style: none;
}
.link{
    margin-left: 2rem;
    color: var(--text-color);
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
}

#conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
/* setting center od the nav bar */
.links{
    display: flex;
    width: 50vw;
    justify-content:flex-start ;
    margin:  0 0 0 7vw;
}

/* setting right of the nav bar */
.buttons{
    
    justify-content: space-evenly;
    width: 25vw;
    padding-right: 5vw;
}
/* setting left of the nav bar */
.logo{
    width: 13vw;
    padding-left: 5vw;

}
button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
  }
#sign-in {
    height: 5vh;
    width: 8vw;
    border-radius: 0.2rem;
    padding: 0.4rem 0.2rem 0.2rem 1rem;
}
#sign-up {
    color: white;
    background-color: var(--main-color);
}

/* cabeçalho */
#cabecalho{
    text-align: center;
    padding-top: 8vw;
    height: 50vh;
    width: 100vw;
}
.header-items{
    margin-top: 1.5rem;
}
h1{
    color: #101828;
    font-weight: 600;
}
#sobre {
    color: #8E2424;
    font-weight: 600;
}
p{
    color: #667085;
    font-weight: 400;
}